* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p, a {
  margin: 0;
}

.wrap {
  background: #000;
  min-height: 100vh;
  position: relative;
}

.wrap .container {
  color: #51ADC2;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: .3em;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wrap .container .quote {
  font-size: 1.3em;
  line-height: 1.5;
}

.wrap .container .references {
  text-align: right;
  line-height: 1.5;
  margin: 2em 0;
  font-style: italic;
}

.wrap .container .references .character {
  font-size: 1em;
}

.wrap .container .references .film {
  font-size: .8em;
}

.wrap .buttons {
  position: absolute;
  text-align: center;
  bottom: 1em;
  left: 1em;
  right: 1em;
  width: 70%;
  margin: 0 auto;
}

.wrap .buttons button {
  padding: .5em;
  font-size: 1.4em;
  margin: 0 .5em;
  color: #51ADC2;
}
