* {
  box-sizing: border-box;
}

p, a {
  margin: 0;
}

.wrap {
  background: #000;
  min-height: 100vh;
  position: relative;

  .container {
    background: red;
    color: blue;

    text-align: center;
    width: 70%;
    margin: 0 auto;

    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    .quote {
      font-size: 1.2em;
      line-height: 1.5;
    }

    .references {
      background: yellow;
      text-align: right;
      margin: 2em 0;
    }

  }

  .buttons {
    background: red;
    position: absolute;
    text-align: center;
    bottom: 1em;
    left: 0;
    right: 0;
  }
}
