// Variables
$lightBlue: #51ADC2;
$lineHeight: 1.5;

// mixin
@mixin widthSeventy {
  width: 70%; // consider mixin / variable
  margin: 0 auto; // consider mixin / variable
}

* {
  box-sizing: border-box;
}

p, a {
  margin: 0;
}

.wrap {
  background: #000;
  min-height: 100vh;
  position: relative;

  .container {
    // background: red;
    color: $lightBlue;

    @include widthSeventy;
    text-align: center;
    padding: .3em;

    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    .quote {
      font-size: 1.3em;
      line-height: $lineHeight;
    }

    .references {
      // background: yellow;
      text-align: right;
      line-height: $lineHeight;
      margin: 2em 0;

      font-style: italic;
      .character {
        font-size: 1em;
      }
      .film {
        font-size: .8em;
      }
    }

  } // end container

  .buttons {
    // background: red;
    position: absolute;
    text-align: center;
    bottom: 1em;
    left: 1em;
    right: 1em;
    @include widthSeventy;
    button {
      // background: yellow;
      padding: .5em;
      font-size: 1.4em;
      margin: 0 .5em;
      color: $lightBlue;
    }
  }
} // end .wrapper
